<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TicTacToe_Game.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TicTacToe_Game.Properties.Settings>
            <setting name="PlayerOne" serializeAs="String">
                <value>Player1</value>
            </setting>
            <setting name="PlayerTwo" serializeAs="String">
                <value>Player2</value>
            </setting>
            <setting name="FormTopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SymbolOne" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="SymbolTwo" serializeAs="String">
                <value>O</value>
            </setting>
            <setting name="SwapSymbols" serializeAs="String">
                <value>True</value>
            </setting>
        </TicTacToe_Game.Properties.Settings>
    </userSettings>
</configuration>